@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-border-1px {
    @apply block p-[1px];
    background-image: linear-gradient(
      135deg,
      #c0c7dc33 0%,
      #c0c7dc33 30%,
      #39393f26 70%,
      #adacc529 100%
    );
  }

  .gradient-card-border {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px; /* 邊框寬度 */
      background: linear-gradient(
        95.38deg,
        rgba(192, 199, 220, 0.12) 1.53%,
        rgba(57, 57, 63, 0.09) 30.18%,
        rgba(173, 172, 197, 0.096) 97.66%
      );
      border-radius: inherit; /* 繼承圓角 */

      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor; /* Safari 相容 */
    }
  }
}
